[package]
name = "cli"
version = "0.1.0"
edition = "2024"
publish = false

[dependencies]
env_logger = "0.11.8"
code_goat = { path = "../core" }
serde_json = "1.0.145"
inquire = "0.9.1"
thiserror = "2.0.17"
